ul {
  margin: 0;
  padding: 7px;
}

div#map {
  margin: auto;
}
.right{
  float: right;
  padding-right:8px;
}
.top{
  
}
.left{
  padding-left:4px;
}
.udplayout {
  height:203mm;
  width:265mm;
  display: grid;
  background-color: #ecf3fa;
  border:black solid 0.25px;
  margin:20px;
  margin-top:30px;
  

  grid-template-columns: 88mm 74mm 98mm; /*   279.4 */
  grid-template-rows: 3mm 134mm 3mm 8mm 52mm; /* 215.9  */
}

#udpmapdiv {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
}

#bbtop {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;
  font-size: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#bbbottom {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
  width: 100%;
  font-size: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}




#legenddiv {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 90%;
  width: 98%;
  border: black solid 1px;
  margin:5px;
}

#descriptiondiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 90%;
  width: 95%;
  border: black solid 1px;
  margin:5px;
  padding:3px;
}


#parchestable {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100%;
  width: 100%;
}

#biodivreport {
  
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 100%;
  width: 100%;
  
}






#map {
  margin: auto;
  margin-top: 7mm;
}


.legendColorBox {
  height: 10px;
  width: 10px;
  border: 0.02pt solid black;
  display: inline-block;
  margin-top: 0px;
  margin-right: 5px;
}
.legendp {
  display: inline-block;

  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bsparchtable {
  font-size: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 5px;
}



td,
th {
  border: 1px solid #0e0e0e;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #ebebeb;
}

#descripcionheader {
  margin-bottom: 1px;
  margin-top: 1px;
  text-align: center;
}

#descripciontext {
  margin-top: 5px;
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#MANANTIAL {
  width: 15px;
  padding-right: 5px;
}

#CORRIENTE_DE_AGUA {
  width: 15px;
  padding-right: 5px;
}

#updtitle {
  text-align: center;
  border: solid black 1px;
  padding: 5px;
  margin: 10px 15px;
}

#updmunititle {
  text-align: center;
}

#framentation {
  margin-bottom: 0px;
  margin-top: 4px;
}

#muniudp {
  margin-top: 2px;
  margin-bottom: 4px;
}

#udpDiversity {
  display: grid;
  
  grid-template-columns: 10mm 1fr 10mm; /*   279.4 */
  grid-template-rows: 1fr; /* 215.9  */
}
#startScale {
  grid-column-start: 1;
  height: 100%;
  width: 100%;
  text-align: center;
}
#pngScale {
  grid-column-start: 2;
  height: 100%;
  width: 100%;
}

#endScale {
  grid-column-start: 3;
  height: 100%;
  width: 100%;
}

#scaleImage {
  padding: 5px;
  max-width: 95%;
  height: auto;
}

.shannonp{
  margin:0;
}
.iconp{
  margin:0;
  text-align: center
}

.downarrow{
  height:40px;
  width:20px;
}

#biodivContainer{
  border: black solid 1px;
  margin-top:5px;
}

#udpDiversity{
  width: 100%;
}

#shannonTitle{
  text-align: center;
}

#northarrow{
  width: 30px;
  height: 50px;
}